### read file

In [2]:
import pandas as pd

In [3]:
df = pd.read_json('edges.json')

In [4]:
df

                      type    weight                    source         target
0                ownership  0.900140  Spanish Shrimp  Carriers          12744
1              partnership  0.845897  Spanish Shrimp  Carriers       21323516
2              partnership  0.964876  Spanish Shrimp  Carriers      290834957
3                ownership  0.964213  Spanish Shrimp  Carriers        3506021
4      family_relationship  0.823486  Spanish Shrimp  Carriers    Conventionâ
...                    ...       ...                       ...            ...
11064  family_relationship  0.817772         Ocano del Este SE  Mary Clements
11065          partnership  0.873537   Norwegian Shrimp N.V. -       67261634
11066          partnership  0.849333   Norwegian Shrimp N.V. -            344
11067           membership  0.814217      Malabar Sea Catch Sp            672
11068           membership  0.823890      Malabar Sea Catch Sp         449820

[11069 rows x 4 columns]

In [5]:
df.duplicated().sum()

0

### remove dead ends

In [6]:
uniqueSources = set(df["source"].unique())
len(uniqueSources)

2320

In [7]:
uniqueTargets = set(df["target"].unique())
len(uniqueTargets)

2631

In [8]:
intersection = uniqueSources & uniqueTargets
len (intersection)

1534

In [9]:
#check if intersection is right
for inte in intersection:
    if inte not in df['source'].values and inte not in df['target'].values:
        print(inte)

In [10]:
noDeadEndDf = df[(df['source'].isin(intersection)) | (df['target'].isin(intersection))]
noDeadEndDf

,type,weight,source,target
0,ownership,0.900140,Spanish Shrimp Carriers,12744
1,partnership,0.845897,Spanish Shrimp Carriers,21323516
2,partnership,0.964876,Spanish Shrimp Carriers,290834957
3,ownership,0.964213,Spanish Shrimp Carriers,3506021
4,family_relationship,0.823486,Spanish Shrimp Carriers,Conventionâ
...,...,...,...,...
11063,family_relationship,0.870088,Ocano del Este SE,011ad1ae-ae1b-4c74-9f58-c020e6a3e836
11064,family_relationship,0.817772,Ocano del Este SE,Mary Clements
11065,partnership,0.873537,Norwegian Shrimp N.V. -,67261634
11066,partnership,0.849333,Norwegian Shrimp N.V. -,344
11067,membership,0.814217,Malabar Sea Catch Sp,672

In [11]:
noDeadEndDf.to_json ("edgesCleanWithCoordinatesNoDeadEnds.json", orient="records", indent=4)